<div id="body">
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title">
        <h1>Welcome to the Canyon County Sheriff API!</h1>
      </hgroup>
      <p>
        This is the current API of the Sheriff Data.
      </p>
    </div>
  </section>
  <section class="content-wrapper main-content clear-fix">
    <h3>We suggest the following steps:</h3>
    <ol class="round">
      <li class="one">
        <h5>Getting Started</h5>
        Click on the API link in the upper right corner (or @Html.ActionLink("here", "Index", "Help", new { area = "" }, null)) and have a look around.
      </li>

      <li class="two">
        <h5>Find a REST method to call</h5>
        Go ahead, call a method. All access is read-only.
      </li>
      <li class="three">
        <h5>Check out our GitHub repo</h5>
        Got stumped, need some extra help. Check out our code on <a href="https://github.com/CanyonCounty/public-api-sheriff" target="_ccsheriffapi">GitHub</a>. It's what we're using.
      </li>
    </ol>
  </section>
</div>
